In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [92]:
df = pd.read_csv("data/cases.csv")
df['report_date'] = pd.to_datetime(df.report_date)
df

,report_date,fips,region,vdh_health_district,locality,Population,total_cases,hospitalizations,deaths,new_cases,new_hosp,new_deaths,weekly_rolling_avg_cases,total_cases_rate,hospitalizations_rate,deaths_rate
0,2020-03-17,51041,central,Chesterfield,Chesterfield,343551,4,2,0,4.0,2.0,0.0,NaN,1,1,0
1,2020-03-18,51041,central,Chesterfield,Chesterfield,343551,5,2,0,1.0,0.0,0.0,NaN,1,1,0
2,2020-03-19,51041,central,Chesterfield,Chesterfield,343551,6,3,0,1.0,1.0,0.0,NaN,2,1,0
3,2020-03-20,51041,central,Chesterfield,Chesterfield,343551,5,1,0,0.0,0.0,0.0,NaN,1,0,0
4,2020-03-21,51041,central,Chesterfield,Chesterfield,343551,7,1,0,2.0,0.0,0.0,NaN,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61441,2021-06-17,51141,southwest,West Piedmont,Patrick,17748,1393,111,43,2.0,1.0,0.0,0.571429,7849,625,242
61442,2021-06-18,51141,southwest,West Piedmont,Patrick,17748,1393,111,43,0.0,0.0,0.0,0.571429,7849,625,242
61443,2021-06-19,51141,southwest,West Piedmont,Patrick,17748,1393,112,43,0.0,1.0,0.0,0.428571,7849,631,242
61444,2021-06-20,51141,southwest,West Piedmont,Patrick,17748,1393,112,43,0.0,0.0,0.0,0.428571,7849,631,242
61445,2021-06-21,51141,southwest,West Piedmont,Patrick,17748,1393,112,43,0.0,0.0,0.0,0.285714,7849,631,242

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61446 entries, 0 to 61445
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   report_date               61446 non-null  datetime64[ns]
 1   fips                      61446 non-null  int64
 2   region                    61446 non-null  object
 3   vdh_health_district       61446 non-null  object
 4   locality                  61446 non-null  object
 5   Population                61446 non-null  int64
 6   total_cases               61446 non-null  int64
 7   hospitalizations          61446 non-null  int64
 8   deaths                    61446 non-null  int64
 9   new_cases                 61446 non-null  float64
 10  new_hosp                  61446 non-null  float64
 11  new_deaths                61446 non-null  float64
 12  weekly_rolling_avg_cases  61440 non-null  float64
 13  total_cases_rate          61446 non-null  int64
 14  hospitalizations_rate     61446 non-null  int64
 15  deaths_rate               61446 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(8), object(3)
memory usage: 7.5+ MB

In [94]:
cases_plot = df.groupby(['report_date'])[['new_cases','weekly_rolling_avg_cases']].sum().reset_index()

In [98]:
cases_plot.tail(180)

    report_date  new_cases  weekly_rolling_avg_cases
282  2020-12-24     4784.0               3977.142857
283  2020-12-25     4080.0               4087.857143
284  2020-12-26     1586.0               3802.428571
285  2020-12-27     4000.0               3820.000000
286  2020-12-28     2603.0               3614.428571
..          ...        ...                       ...
457  2021-06-17      204.0                172.000000
458  2021-06-18      144.0                171.000000
459  2021-06-19      141.0                166.142857
460  2021-06-20       74.0                162.571429
461  2021-06-21      120.0                167.571429

[180 rows x 3 columns]

In [5]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

In [6]:
import plotly.express as px
from plotly.offline import plot

In [16]:
cases_map = df.groupby(['fips','locality'])['total_cases','hospitalizations','deaths','total_cases_rate','hospitalizations_rate','deaths_rate'].max().reset_index()

      fips        locality  cases  hosp  deaths
0    51001        Accomack   2868   212      45
1    51003       Albemarle   5817   235      85
2    51005       Alleghany   1372    64      50
3    51007          Amelia    927    54      36
4    51009         Amherst   2980   127      40
..     ...             ...    ...   ...     ...
128  51800         Suffolk   8002   462     191
129  51810  Virginia Beach  36323  1705     413
130  51820      Waynesboro   2397    73      38
131  51830    Williamsburg    772    29      13
132  51840      Winchester   2938   126      48

[133 rows x 5 columns]

In [17]:
vax_2 = pd.read_csv('data/county_vax.csv')
vax_2['administration_date'] = pd.to_datetime(vax_2.administration_date)
vax_2

,administration_date,fips,region,health_district,locality,Population,facility_type,vaccine_manufacturer,dose_number,vaccine_doses_administered,pop_perc,weekly_rolling_avg_dose
0,2020-12-15,51041,central,Chesterfield,Chesterfield,343551,Hospitals,Pfizer,1,52,0.015136,NaN
1,2020-12-15,51041,central,Chesterfield,Chesterfield,343551,Medical Practices,Pfizer,1,1,0.000291,NaN
2,2020-12-15,51041,central,Chesterfield,Chesterfield,343551,Hospitals,Moderna,1,1,0.000291,NaN
3,2020-12-16,51041,central,Chesterfield,Chesterfield,343551,Medical Practices,Pfizer,1,9,0.002620,NaN
4,2020-12-16,51041,central,Chesterfield,Chesterfield,343551,Hospitals,Pfizer,1,309,0.089943,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
255013,2021-06-18,51141,southwest,West Piedmont,Patrick,17748,Pharmacies,Moderna,1,3,0.016903,3.142857
255014,2021-06-18,51141,southwest,West Piedmont,Patrick,17748,Other Community Health Providers,Moderna,2,1,0.005634,3.142857
255015,2021-06-19,51141,southwest,West Piedmont,Patrick,17748,Pharmacies,J&J,1,4,0.022538,3.000000
255016,2021-06-19,51141,southwest,West Piedmont,Patrick,17748,Pharmacies,Pfizer,1,3,0.016903,3.285714
255017,2021-06-19,51141,southwest,West Piedmont,Patrick,17748,Pharmacies,Pfizer,2,4,0.022538,3.142857

In [40]:
one_dose = vax_2[vax_2.dose_number ==1].groupby(['fips','locality','Population']).vaccine_doses_administered.sum().reset_index()
one_dose.columns = ['fips','locality','population','One_dose']
one_dose

      fips        locality  population  One_dose
0    51001        Accomack       32673     15226
1    51003       Albemarle      107405     75407
2    51005       Alleghany       15157      7139
3    51007          Amelia       12953      5399
4    51009         Amherst       31775     13367
..     ...             ...         ...       ...
128  51800         Suffolk       90093     40388
129  51810  Virginia Beach      450201    217215
130  51820      Waynesboro       22140     11658
131  51830    Williamsburg       14927      7165
132  51840      Winchester       27897     14440

[133 rows x 4 columns]

In [41]:
full_vax = vax_2[(vax_2.dose_number ==2)|((vax_2.dose_number ==1) & (vax_2.vaccine_manufacturer =='J&J'))].groupby(['fips','locality','Population']).vaccine_doses_administered.sum().reset_index()
full_vax.columns = ['fips','locality','population','Fully_vaccinated']
full_vax

      fips        locality  population  Fully_vaccinated
0    51001        Accomack       32673             13428
1    51003       Albemarle      107405             63729
2    51005       Alleghany       15157              5832
3    51007          Amelia       12953              4647
4    51009         Amherst       31775             11804
..     ...             ...         ...               ...
128  51800         Suffolk       90093             34213
129  51810  Virginia Beach      450201            186388
130  51820      Waynesboro       22140             10196
131  51830    Williamsburg       14927              6103
132  51840      Winchester       27897             11339

[133 rows x 4 columns]

In [42]:
total_dose = vax_2.groupby(['fips','locality','Population']).vaccine_doses_administered.sum().reset_index()
total_dose.columns = ['fips','locality','population','Total_doses']
total_dose

      fips        locality  population  Total_doses
0    51001        Accomack       32673        27484
1    51003       Albemarle      107405       133099
2    51005       Alleghany       15157        12384
3    51007          Amelia       12953         9466
4    51009         Amherst       31775        24508
..     ...             ...         ...          ...
128  51800         Suffolk       90093        73174
129  51810  Virginia Beach      450201       391669
130  51820      Waynesboro       22140        20659
131  51830    Williamsburg       14927        13044
132  51840      Winchester       27897        24803

[133 rows x 4 columns]

In [43]:
from functools import reduce
data_frames = [total_dose, one_dose, full_vax]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['fips','locality','population'],
                                            how='left'), data_frames)

In [44]:
df_merged

,fips,locality,population,Total_doses,One_dose,Fully_vaccinated
0,51001,Accomack,32673,27484,15226,13428
1,51003,Albemarle,107405,133099,75407,63729
2,51005,Alleghany,15157,12384,7139,5832
3,51007,Amelia,12953,9466,5399,4647
4,51009,Amherst,31775,24508,13367,11804
...,...,...,...,...,...,...
128,51800,Suffolk,90093,73174,40388,34213
129,51810,Virginia Beach,450201,391669,217215,186388
130,51820,Waynesboro,22140,20659,11658,10196
131,51830,Williamsburg,14927,13044,7165,6103
132,51840,Winchester,27897,24803,14440,11339

In [52]:
df_merged['Total_doses_rate'] = round(df_merged.Total_doses / df_merged.population * 100000).astype(int)
df_merged['One_doses_rate'] = round(df_merged.One_dose / df_merged.population * 100000).astype(int)
df_merged['Fully_vaccinated_rate'] = round(df_merged.Total_doses / df_merged.population * 100000).astype(int)

In [53]:
df_merged

,fips,locality,population,Total_doses,One_dose,Fully_vaccinated,Total_doses_rate,One_doses_rate,Fully_vaccinated_rate
0,51001,Accomack,32673,27484,15226,13428,84118,46601,84118
1,51003,Albemarle,107405,133099,75407,63729,123923,70208,123923
2,51005,Alleghany,15157,12384,7139,5832,81705,47100,81705
3,51007,Amelia,12953,9466,5399,4647,73080,41681,73080
4,51009,Amherst,31775,24508,13367,11804,77130,42068,77130
...,...,...,...,...,...,...,...,...,...
128,51800,Suffolk,90093,73174,40388,34213,81221,44829,81221
129,51810,Virginia Beach,450201,391669,217215,186388,86999,48248,86999
130,51820,Waynesboro,22140,20659,11658,10196,93311,52656,93311
131,51830,Williamsburg,14927,13044,7165,6103,87385,48000,87385
132,51840,Winchester,27897,24803,14440,11339,88909,51762,88909

In [54]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 0 to 132
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fips                   133 non-null    int64
 1   locality               133 non-null    object
 2   population             133 non-null    int64
 3   Total_doses            133 non-null    int64
 4   One_dose               133 non-null    int64
 5   Fully_vaccinated       133 non-null    int64
 6   Total_doses_rate       133 non-null    int64
 7   One_doses_rate         133 non-null    int64
 8   Fully_vaccinated_rate  133 non-null    int64
dtypes: int64(8), object(1)
memory usage: 10.4+ KB

In [55]:
county_df = vax_2.copy()

In [61]:
one_dose = county_df[county_df.dose_number ==1].groupby(['fips','locality','Population']).vaccine_doses_administered.sum().reset_index()
one_dose.columns = ['fips','locality','population','One_dose']
full_vax = county_df[(county_df.dose_number ==2)|((county_df.dose_number ==1) & (county_df.vaccine_manufacturer =='J&J'))].groupby(['fips','locality','Population']).vaccine_doses_administered.sum().reset_index()
full_vax.columns = ['fips','locality','population','Fully_vaccinated']
total_dose = county_df.groupby(['fips','locality','Population']).vaccine_doses_administered.sum().reset_index()
total_dose.columns = ['fips','locality','population','Total_doses']

#merge dfs
data_frames = [total_dose, one_dose, full_vax]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['fips','locality','population'],
                                            how='left'), data_frames)

In [65]:
fig = px.choropleth(df_merged, geojson=counties,
                        locations='fips',
                        color='Fully_vaccinated',
                        range_color=(0,df_merged['Fully_vaccinated'].max()*0.5),
                        color_continuous_scale="mint",
                        scope='usa',
                        hover_name='locality',
                        hover_data=['Total_doses','One_dose','Fully_vaccinated'])
fig.update_geos(fitbounds="locations",visible=False)
fig.update_layout(margin={"r":0,"l":0,"b":0})
plot(fig)

'temp-plot.html'

In [99]:
df2 = pd.read_csv('data/county_vax.csv')
df2['administration_date'] = pd.to_datetime(df2.administration_date)
df2

,administration_date,fips,region,health_district,locality,Population,facility_type,vaccine_manufacturer,dose_number,vaccine_doses_administered,pop_perc,weekly_rolling_avg_dose
0,2020-12-15,51041,central,Chesterfield,Chesterfield,343551,Hospitals,Pfizer,1,52,0.015136,NaN
1,2020-12-15,51041,central,Chesterfield,Chesterfield,343551,Medical Practices,Pfizer,1,1,0.000291,NaN
2,2020-12-15,51041,central,Chesterfield,Chesterfield,343551,Hospitals,Moderna,1,1,0.000291,NaN
3,2020-12-16,51041,central,Chesterfield,Chesterfield,343551,Medical Practices,Pfizer,1,9,0.002620,NaN
4,2020-12-16,51041,central,Chesterfield,Chesterfield,343551,Hospitals,Pfizer,1,309,0.089943,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
255013,2021-06-18,51141,southwest,West Piedmont,Patrick,17748,Pharmacies,Moderna,1,3,0.016903,3.142857
255014,2021-06-18,51141,southwest,West Piedmont,Patrick,17748,Other Community Health Providers,Moderna,2,1,0.005634,3.142857
255015,2021-06-19,51141,southwest,West Piedmont,Patrick,17748,Pharmacies,J&J,1,4,0.022538,3.000000
255016,2021-06-19,51141,southwest,West Piedmont,Patrick,17748,Pharmacies,Pfizer,1,3,0.016903,3.285714
255017,2021-06-19,51141,southwest,West Piedmont,Patrick,17748,Pharmacies,Pfizer,2,4,0.022538,3.142857

In [104]:
new_df = df2.groupby(['administration_date'])[['vaccine_doses_administered']].sum().reset_index()
new_df.tail(180)

    administration_date  vaccine_doses_administered
9            2020-12-23                        7359
10           2020-12-24                        1665
11           2020-12-25                         107
12           2020-12-26                        2010
13           2020-12-27                         882
..                  ...                         ...
184          2021-06-16                       23699
185          2021-06-17                       20920
186          2021-06-18                       19183
187          2021-06-19                       12412
188          2021-06-20                        2516

[180 rows x 2 columns]

In [105]:
new_df['weekly_rolling_avg_dose'] = new_df.vaccine_doses_administered.rolling(7).mean()
new_df

    administration_date  vaccine_doses_administered  weekly_rolling_avg_dose
0            2020-12-14                          20                      NaN
1            2020-12-15                         577                      NaN
2            2020-12-16                        4935                      NaN
3            2020-12-17                        8377                      NaN
4            2020-12-18                        9339                      NaN
..                  ...                         ...                      ...
184          2021-06-16                       23699             24005.714286
185          2021-06-17                       20920             22920.714286
186          2021-06-18                       19183             21199.428571
187          2021-06-19                       12412             19283.571429
188          2021-06-20                        2516             18274.857143

[189 rows x 3 columns]